<div class="row sidebar-module" ng-class="statisticsBackground">
    <ul class="list-group" ng-class="statisticsBackground">
        <li class="list-group-item" ng-class="statisticsBackground">
            <center>
            <strong>          
                <i class="fa fa-calculator" ng-class="statisticsBackground"></i>
                <span>STATISTICS FOR LAST 7 {{rangeString}}</span>
            </strong>
            </center>
        </li>
        <div class="floatleft">
        <span ng-class="statisticsBackground">
            Total Claims : <b class="badge">{{totalClaimCount}}</b>
        </span>
        <br>
        <span ng-class="statisticsBackground">
             Total Submitted:
            <b class="badge">{{totalSubmit}}</b>
        </span>
        <br>
        <span ng-class="statisticsBackground">
            Submitted:
            <b class="badge">{{percentageSubmitted}}% </b>
        </span>
        <br>
        <span ng-show ="percentageSurveysSubmitted < 100" ng-class="statisticsBackground">
             Surveys Submitted:
             <span>
             <b class="badge">{{surveysSubmitted}}</b>
             </span>
        </span>
        <br>
        <span ng-class="statisticsBackground" ng-show ="percentageSurveysSubmitted < 100">
             Submitted Survey:
             <b class="badge">{{percentageSurveysSubmitted}}% </b>
        </span>
        </div>
        <div class="floatright">
        <span class="list-group-item big-num" ng-class="statisticsBackground">
            {{totalClaimCount}}
        </span>
        </div>
    </ul>
</div>