<div ng-include="'views/nav.html'"></div>
<div class="container">
    <div class="row">
        <div class="alert alert-dismissible alert-danger" ng-hide="errorMsg.length===0">
            <button type="button" class="close" data-dismiss="alert" ng-click="closeErrorMsg()">×</button>
            {{errorMsg}}
        </div>
    </div>
    <div class="row">
        <div class="alert alert-dismissible alert-success" ng-hide="successMsg.length===0">
            <button type="button" class="close" data-dismiss="alert" ng-click="closeSuccessMsg()">×</button>
            <strong>{{successMsg}}</strong>
        </div>
    </div>



    <div class="modal fade" id="configEditDialog" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Configuration Dialog</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">
                        <input type="text" ng-model="selectedConfig.configKey" class="form-control" placeholder="Key" ng-required="!selectedConfig.configKey">
                    </div>

                    <div class="form-group">
                        <textarea ng-model="selectedConfig.configValue" class="form-control" rows="3" placeholder="Value" ng-required="!selectedConfig.configValue"></textarea>
                    </div>

                    <div class="form-group">
                        <textarea ng-model="selectedConfig.configDescription" class="form-control" rows="3" placeholder="Description"></textarea>
                    </div>

                    <div class="form-group">
                        <input type="text" ng-model="selectedConfig.orgId" class="form-control" placeholder="Organization ID">
                    </div>

                    <div class="form-group">
                        <div class="alert alert-dismissible alert-success" ng-hide="configEditSuccessMsg.length===0">
                            {{configEditSuccessMsg}}
                        </div>
                        <div class="alert alert-dismissible alert-danger" ng-hide="configEditErrorMsg.length===0">
                            {{configEditErrorMsg}}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()"><i class="fa fa-times"></i>&nbsp;&nbsp;Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="updateConfiguration()"><i class="fa fa-check"></i>&nbsp;&nbsp;Save</button>
                </div>
            </div>

        </div>
    </div>

    <div class="row">

        <div class="row">
            <div class="col-sm-3">
                <div class="input-group">
                    <input id="searchKey" type="text" ng-model="searchConfigKey" placeholder="Key" class="form-control">
                    <span class="input-group-addon"><i class="fa fa-key"></i></span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <input id="searchValue" type="text" ng-model="searchConfigValue" placeholder="Value" class="form-control">
                    <span class="input-group-addon"><i class="fa fa-check"></i></span>
                </div>
            </div>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-primary btn-block" ng-click="search()">
                    <i class="fa fa-search"></i><span>&nbsp;&nbsp;Search</span>
                </button>
            </div>
            <div class="col-sm-3">
                <button type="submit" class="btn btn-primary btn-block" ng-click="createConfig()">
                    <i class="fa fa-plus"></i>&nbsp;&nbsp;Create</span>
                </button>
            </div>
        </div>

        <div class="row">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>
                        <a href="#/config" ng-click="sortField('configKey')">
                            Key
                            <span ng-show="sortType == 'configKey' && sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'configKey' && !sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#/config" ng-click="sortField('configValue')">
                            Value
                            <span ng-show="sortType == 'configValue' && sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'configValue' && !sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#/config" ng-click="sortField('configDescription')">
                            Description
                            <span ng-show="sortType == 'configDescription' && sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'configDescription' && !sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#/config" ng-click="sortField('orgId')">
                            orgId
                            <span ng-show="sortType == 'orgId' && sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'orgId' && !sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#/config" ng-click="sortField('createdDate')">
                            Created
                            <span ng-show="sortType == 'createdDate' && sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'createdDate' && !sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#/config" ng-click="sortField('updatedDate')">
                            Updated
                            <span ng-show="sortType == 'updatedDate' && sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'updatedDate' && !sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="config in configList | filter:{configKey:searchKey} | orderBy:sortType:sortReverse" ng-class-even="info" ng-class-odd="success">

                    <td class="setWidth concat">
                        <div ng-attr-title="{{config.configKey}}" data-toggle="tooltip">
                            {{config.configKey}}
                            <div>
                    </td>
                    <td class="setWidth concat">
                        <div ng-attr-title="{{config.configValue}}" data-toggle="tooltip">
                            {{config.configValue}}
                        </div>
                    </td>
                    <td class="setWidth concat">
                        <div ng-attr-title="{{config.configDescription}}" data-toggle="tooltip">
                            {{config.configDescription}}
                        </div>
                    </td>
                    <td>
                        {{config.orgId}}
                    </td>
                    <td>
                        {{config.createdDate | date:'MM/dd/yyyy h:mma'}}
                    </td>
                    <td>
                        {{config.updatedDate | date:'MM/dd/yyyy h:mma'}}
                    </td>
                    <td>
                        <div class="buttons">
                            <button class="btn btn-primary" ng-click="update(config)">edit</button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>