<div ng-include="'views/nav.html'"></div>
<div class="container">
    <div class="row">
        <div class="alert alert-dismissible alert-danger" ng-hide="errorMsg.length===0">
            <button type="button" class="close" data-dismiss="alert" ng-click="closeErrorMsg()">×</button>
            {{errorMsg}}
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div ng-include="'views/claim-statistics.html'"></div>
        </div>
        <div class="col-sm-4">
            <div ng-include="'views/issue-resolution.html'"></div>
        </div>
        <div class="col-sm-4">
            <div ng-include="'views/submit-info.html'"></div>
        </div>
    </div>
    <div class="row">
    <!--  -->   
    <div class="tabordion">
  <section id="section1">
    <input type="radio" name="sections" id="option1" checked>
    <label for="option1">Welcome</label>
    <article>
      <h2><center>Welcome to the GTD MBE Customer Support Site!</center></h2>
      <p>         
      </p>
    </article>
  </section>
  <section id="section2">
    <input type="radio" name="sections" id="option2">
    <label for="option2">Total Claims Submitted</label>
    <article>
      <h2>Total Claims Submitted</h2>
      <p> 
      
      
<div class="row">
    <div class="row">
        <div class="col-sm-3">
            <h3><span class="label label-default">Claim Status Chart</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <select ng-init="searchClientId = ''" class="form-control" id="searchClient" placeholder="Insurance Name"
                    ng-model="searchClientId" ng-change="updateClientId(searchClientId)" ng-options="client.value as client.name for client in clients">
            </select>
        </div>
        <div class="col-sm-6">
            <div class="btn-group">
                <label class="btn btn-default" ng-class="{'active': dataRange==0}">
                    <input type="radio" name="dataRangeRadio" ng-click="dataRangeChange(0)" ng-model="dataRange" value="0"> Days
                </label>
                <label class="btn btn-default" ng-class="{'active': dataRange==1}">
                    <input type="radio" name="dataRangeRadio" ng-click="dataRangeChange(1)" ng-model="dataRange" value="1"> Weeks
                </label>
                <label class="btn btn-default" ng-class="{'active': dataRange==2}">
                    <input type="radio" name="dataRangeRadio" ng-click="dataRangeChange(2)" ng-model="dataRange" value="2"> Months
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <canvas id="line" class="chart chart-line" chart-data="data"
            chart-labels="labels" chart-legend="true" chart-series="series"
            chart-click="onClick" >
    </canvas>
</div>
         
      </p>
    </article>
  </section>
  <section id="section3">
    <input type="radio" name="sections" id="option3">
    <label for="option3">Surveys Submitted</label>
    <article>
      <p>                
 
<div class="row">
    <div class="row">
        <div class="col-sm-3">
            <h3><span class="label label-default">Survey Chart</span></h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <select ng-init="surveySearchClientId = ''" class="form-control" id="surveySearchClient" placeholder="Insurance Name"
                    ng-model="surveySearchClientId" ng-change="updateSurveyClientId(surveySearchClientId)" ng-options="client.value as client.name for client in clients">
            </select>
        </div>
        <div class="col-sm-6">
            <div class="btn-group">
                <label class="btn btn-default" ng-class="{'active': surveyDataRange==0}">
                    <input type="radio" name="surveyDataRangeRadio" ng-click="surveyDataRangeChange(0)" ng-model="surveyDataRange" value="0"> Days
                </label>
                <label class="btn btn-default" ng-class="{'active': surveyDataRange==1}">
                    <input type="radio" name="surveyDataRangeRadio" ng-click="surveyDataRangeChange(1)" ng-model="surveyDataRange" value="1"> Weeks
                </label>
                <label class="btn btn-default" ng-class="{'active': surveyDataRange==2}">
                    <input type="radio" name="surveyDataRangeRadio" ng-click="surveyDataRangeChange(2)" ng-model="surveyDataRange" value="2"> Months
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <canvas id="surveyBar" class="chart chart-bar" chart-data="surveyData"
            chart-labels="surveyLabels" chart-legend="true" chart-series="surveySeries"
            chart-click="onSurveyClick" >
    </canvas>
</div>
                
      </p>
    </article>
  </section>
</div> 
    <!--  -->
    </div>
</div>
