<div class="navbar navbar-default navbar-static-top" ng-controller="navController">
    <div class="container">
        <div class="navbar-form navbar-left">
            <div class="btn-group">
                <a class="btn btn-default"><i class="fa fa-server"></i>&nbsp;&nbsp;ENV:{{selectedENV.envName}}</a>
                <a class="btn btn-default dropdown-toggle" data-toggle="dropdown"  data-trigger="hover"><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li ng-repeat ="env in environments"><a href="#changeEnv" ng-click="changeEvn($event,env)">{{env.envName}}</a></li>
                </ul>
            </div>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" >
                <i class="fa fa-bars"></i><span>&nbsp;&nbsp;MBE Support</span>
            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{'active': isActive(2)}">
                    <a href="#/dashboard"><i class="fa fa-home"></i>
                        <span>&nbsp;&nbsp;<strong>Dashboard</strong></span>
                    </a>
                </li>
                <li ng-class="{'active': isActive(4)}" ng-if="isAdmin()">
                    <a href="#/config"><i class="fa fa-cog"></i>
                        <span>&nbsp;&nbsp;<strong>Admin</strong></span>
                    </a>
                </li>
                <li ng-class="{'active': isActive(0)}" >
                    <a href="#/all-claims"><i class="fa fa-list"></i>
                    <span>&nbsp;&nbsp;<strong>Claim List</strong></span>
                    </a>
                </li>
                <li ng-class="{'active': isActive(1)}">
                    <a href="#/commerrors">
                        <i class="fa fa-exclamation-circle"></i>
                        <span>&nbsp;&nbsp;<strong>CommErrorLog</strong></span>
                    </a>
                </li >
                <li ng-class="{'active': isActive(3)}">
                    <a href="#/survey">
                        <i class="fa fa-question-circle"></i>
                        <span>&nbsp;&nbsp;<strong>Survey</strong></span>
                    </a>
                </li >
            </ul>
            <div class="navbar-form navbar-right">
                <a class="btn btn-default" href="#/logout" ng-click="logout()">
                    <i class="fa fa-sign-out"></i>
                    &nbsp;&nbsp;Logout</a>
            </div>
        </div>
    </div>
</div>