.form-horizontal {
    max-width: 470px;
    height :auto;
    padding: 19px 29px 29px;
    margin: 0px auto 20px;
    background-color: #FFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.form-horizontal.form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
    margin: 0px auto 20px;
}

.form-horizontal.form-control:focus {
    z-index: 2;
}

.floatleft, .floatright {
    float:left;
    width: 50%;
    height: 30%;
}

.floatright {
    width: 50%;
}

#photoView { padding: 40px;
    float:left !important;
    display: block;
}
.login_container{
    padding-top: 40px;
    padding-bottom: 40px;
}

.query-control {
    margin-right:10px;
    height: 34px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
}
.voffset2 { margin-top:5px; }

.setWidth{
    max-width: 100px;
}
.concat div{
    overflow: hidden;
    -ns-text-overflow:ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    width:inherit;
}
.col-sm-3 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.well {
   margin: 5px !important;
}
.claimstatus .form-control {
    height: 40px;
}
.claimstatus .input-group {
    padding-left: 5px !important;
    margin: 5px !important;
}

#collapse1 .form-control {
    height: 40px;
}
#collapse1 .input-group {
    padding-left: 5px !important;
    margin: 5px !important;
}
.panel-heading h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 8px;
}
.row .space {
    padding-bottom: 5px !important;
}
.background1{
    color : #FFFFFF;
    background-color: #fd8d43!important;
}
.background2{
    color : #FFFFFF;
    background-color: #32b0ed!important;
}
.background3{
    color : #FFFFFF;
    background-color: #006600 !important;
}
.background-error {
    color : #FFFFFF;
    background-color: #ff0000 !important;
}

.wholeWith {
    width: 100% !important;
}
.big-num {
    color: #fff;
    font-size: 5em;
    text-align: right;
    margin: 0px;
    font-weight: 300;
    text-shadow: 1px 1px 0px #000000;
}
.highlight{
    background-color: pink;
}
.img-rounded{
    width: 340px!important;
    height: 256px!important;
}

.left_padding {
    padding-left: 15px!important;
}

.bs-wizard {margin-top: 0px;}
.bs-wizard {padding: 0 0 0px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 15px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #0099ff; top: 45px; margin-top: -15px; margin-left: 0px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fe111d; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #0099ff;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {}
.bs-wizard > .bs-wizard-step:last-child  > .bs-wizard-dot:last-child {background-color: #6f6f6f;left:100%;border-radius:50%; margin-right: 0px}
.bs-wizard > .bs-wizard-step:last-child  > .bs-wizard-dot:last-child:after {opacity: 0;}
/*Definitions only for active status*/
.bs-wizard > .bs-wizard-step.active .bs-wizard-stepnum {font-weight:bold}
/*Definitions for disabled status*/
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #a3a3a3;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
.bs-wizard > .bs-wizard-step.disabled .bs-wizard-stepnum {color: #d5d5d5;}
/*Definitions for complete status*/
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.complete:last-child  > .bs-wizard-dot:last-child {background-color: #005A96;}
.bs-wizard > .bs-wizard-step.complete:last-child  > .bs-wizard-dot:last-child:after {opacity: 1;}
.bs-wizard > .bs-wizard-step.complete .bs-wizard-stepnum {color: #005A96;opacity: 0.5;}


.tabordion {
  display: block;
  margin: auto;
  position: relative;
}

.tabordion input[name="sections"] {
  left: -9999px;
  position: absolute;
  top: -9999px;
}

.tabordion section {
  display: block;
}

.tabordion section label {
  border:1px solid rgba(0,0,0,0.1);
  cursor: pointer;
  display: block;
  padding: 15px 20px;
  position: relative;
  width: 33.333333333333336%;
  z-index:100;
}

.tabordion section article {
  display: none;
  left: 33.333333333333336%;
  width: 66.66666666666667%;
  padding: 0 0 0 21px;
  position: absolute;  
  top: 0;
}

.tabordion section article:after {
  bottom: 0;
  content: "";
  display: block;
  left:-229px;
  position: absolute;
  top: 0;
  width: 220px;
  z-index:1;
}

.tabordion input[name="sections"]:checked + label { 
  background: #eee;
  color: #bbb;
}

.tabordion input[name="sections"]:checked ~ article {
  display: block;
}


@media (max-width: 533px) {
  
  .tabordion h1 {
    width: 100%;
  }

  .tabordion {
    width: 100%;
  }
  
  .tabordion section label {
    font-size: 1em;
    width: 160px;
  }  

 .tabordion section article {
    left: 200px;
    min-width: 270px;
  } 
  
  .tabordion section article:after {
    background-color: #ccc;
    bottom: 0;
    content: "";
    display: block;
    left:-199px;
    position: absolute;
    top: 0;
    width: 200px;

  }  
  
}


@media (max-width: 768px) {

  .tabordion {
    width: 96%;
  }
}


@media (min-width: 1366px) {
  h1 {
    width: 70%;
  }

  .tabordion {
    width: 70%;
  }
}
  
